@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* custom scrollbar start */
/* width */
.custom-scroller::-webkit-scrollbar {
  width: 6px;
}

/* Track */
.custom-scroller::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.custom-scroller::-webkit-scrollbar-thumb {
  background: #cdcdcd;
  border-radius: 20px;
}

/* Handle on hover */
.custom-scroller::-webkit-scrollbar-thumb:hover {
  background: #cdcdcd;
}

/* custom scrollbar end */

.card {
  background: #fff;
  border-radius: 12px;
  padding: 16px;
  text-decoration: none;
  position: relative;
  box-shadow: 0 .0625rem #1a1a1a12;
  background-color: #fff;
}

.card:before {
  content: "";
  z-index: 32px;
  pointer-events: none;
  mix-blend-mode: luminosity;
  border-radius: 12px;
  position: absolute;
  inset: 0;
  box-shadow: inset .0625rem 0 0 0 #00000021, inset -.0625rem 0 0 0 #00000021, inset 0 -.0625rem 0 0 #0000002b, inset 0 .0625rem 0 0 #cccccc80;
}